@font-face {
  font-family: "blah";
  src: url('../fonts/Blah!.ttf') format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --cor-primaria: #ffa500;
  --cor-secundaria: rgb(0, 0, 0);
  --cor-titulo: red;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: 'blash';

}

main {
  width: 100%;
  min-height: 100vh;
}

section {
  width: 100%;
  min-height: 50vh;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

section:nth-child(odd) {
  background-color: var(--cor-primaria);
}

section:nth-child(even) {
  background-color: var(--cor-secundaria);
}

.titulo {
  font-size: calc(20px + 2vw);
  font-weight: bold;
  margin: 30px;
  color: #fff;
  text-align: center;
  font-family: 'pac';
  text-transform: uppercase;
}

/*        Sobre         */
.sobre {
  margin-top: -25vh;
  padding-top: 20vh;
}

.box-sobre {
  width: 100%;
  max-width: 1350px;
  display: inline-block;
  border-radius: 10px;
  padding-top: 40px;
  /* background-color: rgba(0, 0, 0, 0.24);
  box-shadow:0 0 20px rgba(0, 0, 0, 0.918) */
}

.box-sobre img {
  max-width: 350px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  float: left;
  margin: 0 20px 30px;
}

.box-sobre p {
  font-size: calc(14px + 0.5vw);
  text-align: justify;
  margin: 10px 0;
  padding: 0 15px;
  font-weight: 600;
}

/*              Conhecimentos             */
.estudos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
}
.box-linguagem {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: gainsboro;
}
.conhecimento h2{
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0 ;
  background-color: gray;
}
.box-linguagem img {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}
.box-linguagem img:hover {
  transform: scale(1.3);
}
/*         Certificados        */
.certificado .item {
  background-color: var(--cor-secundaria);
  color: #fff;
  /* box-shadow: 0 0 20px white; */
}

/*           Projetos          */
.box-itens {
  width: 100%;
  max-width: 1400px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100px;
  flex: 1 1 400px;
  max-width: 400px;
  position: relative;
  background: rgba(255, 255, 255, 0.603);
  box-shadow: 0 8px 32px 10px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}

.imgProjeto img {
  width: 100%;
  max-height: 300px;
  flex: 1 1 100px;
}

.descProjeto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.subTitulo {
  font-size: 30px;
  margin: 10px;
}

.descProjeto .btMais {
  width: 100%;
  background: var(--cor-primaria);
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
/*Area Javascript*/