body{
    overflow: hidden;
}
nav {
    width: 100%;
    height: 7vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: var(--cor-secundaria);
    color: white;
    z-index: 10;
}
.topNome{
    color: var(--cor-primaria);
    font-family: 'pac';
    position: relative;
    align-self:auto;
    font-size: 25px;
    line-height: 100%;
  }
/*          Corpo             */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7vh;
    /* background: var(--cor-primaria); */
}

/*      Descrição do projeto        */
.descProjeto {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--cor-secundaria);
    box-shadow: 0 0 30px var(--cor-shadow);
   
}

.dadosProjeto {
    text-align: center;
    width: 100%;
}

.dadosProjeto h1 {
    font-size: calc(40px + 3vw);
    color: #fff;
    margin: 10px;
}

.dadosProjeto p {
    font-size: calc(16px + 1vw);
    color: #fff;
    margin: 10px;
}

.tec {
    width: 100%;
    min-height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.tec img {
    width: 90px;
    height: 90px;
}

/*              videos descritivos                  */
.demoProjeto {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px;
}

.demoProjeto h1 {
    color: #fff;
    font-size: calc(40px + 1vw);
    margin: 30px;
    text-transform: uppercase;
    text-align: center;
}

/*              videos descritivos   Desktop               */
.videoPcDesc {
    width: 100%;
    max-width: 900px;
    min-height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}

.videoPcDesc video {
    margin: 30px 0;
    width: 100%;
    background-color: var(--cor-secundaria);
    padding: 15px 2px;
    border-radius: 10px;
    box-shadow: 0 0 20px 9px var(--cor-shadow);
}

.videoPcDesc ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.btMais {
    height: 100px;
    width: 100%;
    display: flex;
}

.btMais li {
    height: 100%;
    width: 100%;
}

.btMais li a {
    color: var(--cor-primaria);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-secundaria);
    font-weight: bold;
    font-size: calc(15px + 2vw);
    transition: 0.5s;

}

.btMais li a:hover {
    color:var(--cor-secundaria);
    background: var(--cor-primaria);
    box-shadow: inset 0 0 20px var(--cor-secundaria);
}

/*              videos descritivos      Smartphone            */
.videoMobileDesc {
    max-width: 225px;
    margin: 0 auto;

}

.videoMobileDesc video {
    width: 100%;
    box-shadow: 0 0 20px 9px var(--cor-shadow);
    background-color: var(--cor-secundaria);
    padding: 15px 1px;
    border-radius: 10px;
    position: relative;
}

/*            Footer               */

footer {
    width: 100%;
    min-height: 30vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--cor-secundaria);
    color: white;
}

.boxFooter {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerNome {
    font-size: 40px;
    font-family: "pac";
    position: relative;
    cursor: pointer;
    transition: color 1s ease-in-out;
    letter-spacing: 10px;
    color: var(--cor-primaria);
    text-align: center;
    margin-bottom: 50px;
}

.footerNome::before {
    content: var(--letra);
    position: absolute;
    filter: blur(15px);
    font-weight: bold;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.redes-sociais li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100px;

    margin: 0 10px;
    font-size: calc(20px + 1vw);
    font-weight: bold;
    list-style: none;
    color: var(--cor-primaria);
    border-radius: 20px;
}

.redes-sociais li a:hover {
    animation: subir 0.5s ease alternate infinite;
}

.redes-sociais li a ion-icon {
    font-size: 50px;
    z-index: 10;
}

.redes-sociais li p {
    width: 100%;
    height: 40;
    line-height: 100%;
    padding: 10px;
    color: var(--cor-primaria);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais li p:hover {
    border-radius: 20px;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}